Package: com.milodarling.redditscreens
Name: Reddit Screens
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Set your wallpaper to an image from a subreddit!
Maintainer: Milo Darling
Author: Milo Darling
Section: Tweaks
Icon: file:///Library/PreferenceBundles/RedditScreens.bundle/RedditScreens@3x.png
