<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Subreddit 3</string>
			<key>footerText</key>
			<string>Can't think of a subreddit? Why not /r/wallpaper?</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>/r/</string>
			<key>defaults</key>
			<string>com.milodarling.redditscreens</string>
			<key>key</key>
			<string>sub3-subreddit</string>
			<key>label</key>
			<string>Subreddit</string>
			<key>PostNotification</key>
			<string>com.milodarling.redditscreens/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Pick an activation method for this subreddit.</string>
		</dict>
		<dict>
			<key>cell</key>
 			<string>PSLinkCell</string>
			<key>label</key>
			<string>Activation Method</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>			
			<key>activatorListener</key>
			<string>com.milodarling.redditscreens.sub3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Apply to home screen, lock screen, or both.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Set to</string>
			<key>key</key>
			<string>sub1-wallpaperMode</string>
			<key>detail</key>
        	<string>PSListItemsController</string>
        	<key>validTitles</key>
        	<array>
    			<string>Home Screen</string>
            	<string>Lock Screen</string>
            	<string>Both</string>
        	</array>
        	<key>validValues</key>
        	<array>
            	<string>1</string>
            	<string>2</string>
            	<string>0</string>
        	</array>
        	<key>default</key>
        	<string>0</string>
    	    <key>defaults</key>
	  		<string>com.milodarling.redditscreens</string>
	  		<key>PostNotification</key>
	  		<string>com.milodarling.redditscreens/prefsChanged</string>
	  	</dict>
	  	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Allow NSFW images to be saved &amp; set as your wallpaper.</string>
		</dict>
	  	<dict>
	  		<key>cell</key>
	  		<string>PSSwitchCell</string>
	  		<key>label</key>
	  		<string>Allow NSFW images</string>
	  		<key>key</key>
	  		<string>sub3-allowBoobies</string>
	  		<key>defaults</key>
	  		<string>com.milodarling.redditscreens</string>
	  		<key>default</key>
	  		<false/>
	  		<key>PostNotification</key>
	  		<string>com.milodarling.redditscreens/prefsChanged</string>
	  	</dict>
	  	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Save the photo to your photo library after setting it as your wallpaper.</string>
		</dict>
	  	<dict>
	  		<key>cell</key>
	  		<string>PSSwitchCell</string>
	  		<key>label</key>
	  		<string>Save photo to library</string>
	  		<key>key</key>
	  		<string>sub3-savePhoto</string>
	  		<key>defaults</key>
	  		<string>com.milodarling.redditscreens</string>
	  		<key>default</key>
	  		<false/>
	  		<key>PostNotification</key>
	  		<string>com.milodarling.redditscreens/prefsChanged</string>
	  	</dict>
	  	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use a random image. If this is disabled, the top image will be grabbed.</string>
		</dict>
	  	<dict>
	  		<key>cell</key>
	  		<string>PSSwitchCell</string>
	  		<key>label</key>
	  		<string>Random image</string>
	  		<key>key</key>
	  		<string>sub3-random</string>
	  		<key>defaults</key>
	  		<string>com.milodarling.redditscreens</string>
	  		<key>default</key>
	  		<false/>
	  		<key>PostNotification</key>
	  		<string>com.milodarling.redditscreens/prefsChanged</string>
	  	</dict>
	</array>
	<key>title</key>
	<string>Subreddit 3</string>
</dict>
</plist>